body{
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family:'Roboto';
}
.img-container{
  background-image: url("../../assets/landing.jpg");
  background-size: cover;
  background-position: 50% 65%;
  margin-top: 5px;
  padding: 0px;
  height: 49rem;
  width: 100%;
  opacity: 0.7;
}
