body{
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family:'Roboto';
}
.img-container-l{
  background-image: url("../../assets/landing.jpg");
  background-size: cover;
  background-position: 50% 65%;
 /* margin-top: 5px;*/
  padding: 0px;
  height: 49rem;
  width: 100%;
  opacity: 0.7;
}
/* 랜딩 페이지 style */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600&display=swap');
.content {
  color: transparent;
  position: relative;
  /* font-family: 'Source Serif Pro', serif; */
  font-family: 'Rajdhani', sans-serif;
}
.logo {
  position: fixed;
  top: 54%;
  left: 11%;
  min-height: 100vh;

}
.content h2 {

  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 3.5em;
}
.content h2:nth-child(1) {
  color: transparent;
  /* 배경 색 */
  -webkit-text-stroke: 1px #000000;
}
.content h2:nth-child(2) {
  /* 채울 색 */
  color: #000000;
  animation: animate 4s ease-in-out infinite;
}
@keyframes animate {
  0%, 100% {
    clip-path: polygon(0 33%, 10% 28%, 20% 25%, 29% 25%, 37% 30%, 45% 33%, 55% 36%, 64% 43%, 79% 44%, 91% 39%, 100% 36%, 100% 100%, 0 100%);
  }
  50% {
    clip-path: polygon(0 33%, 9% 41%, 19% 43%, 28% 39%, 39% 37%, 50% 34%, 59% 27%, 69% 20%, 82% 20%, 92% 26%, 100% 36%, 100% 100%, 0 100%);
  }
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700');

/* 수정 해야 됌!!!!!!!!!!!!!!!!111 */

#container-l {
  color:rgb(241, 245, 255);
  text-transform: uppercase;
  font-size: 34px; 
  font-weight:bold;
  padding-top:200px;  
  position:fixed;
  width:100%;
  bottom:45%;
  display:block;
  z-index: 1;
  opacity: 1;
}

#flip-l {
  height: 59px;
  overflow:hidden;
}

#flip-l > div > div {
  color:#fff;
  padding:1px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip-l div:first-child {
  animation: show 10s linear infinite;
}

#flip-l div div {
  background:#42c58a;
}
#flip-l div:first-child div {
  background:#4ec7f3;
}
#flip-l div:last-child div {
  background:#DC143C;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

.p-l {
  position:fixed;
  width:100%;
  bottom:150px;
  font-size:1.5rm;
  color:rgb(255, 255, 255);
  margin-top:200px;
}


/* 수정해댜 되는 부분 끝! */

/* 반응형 */
@media ( max-width: 1428px ) {
  .logo {
    position: fixed;
    top: 54%;
    left: 11%;
    min-height: 100vh;
  
  }
  .content h2 {
  
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 3em;
  }
  .content h2:nth-child(1) {
    color: transparent;
    /* 배경 색 */
    -webkit-text-stroke: 1px #000000;
  }
}
@media ( max-width: 1328px ) {
  .logo {
    /* position: fixed; */
    top: 54%;
    left: 11%;
    min-height: 100vh;
    
  }
  .content h2 {
    font-size: 3.5rem;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 3em;
  }
  .content h2:nth-child(1) {
    color: transparent;
    /* 배경 색 */
    -webkit-text-stroke: 1px #000000;
  }
}
@media ( max-width: 1150px ) {
  .logo {
    /* position: fixed; */
    top: 54%;
    left: 11%;
    min-height: 100vh;
    
  }
  .content h2 {
    font-size: 3.5rem;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 3em;
  }
  .content h2:nth-child(1) {
    color: transparent;
    /* 배경 색 */
    -webkit-text-stroke: 1px #000000;
  }
}
@media ( max-width: 970px ) {
  .logo {
    /* position: fixed; */
    top: 54%;
    left: 11%;
    min-height: 100vh;
  }
  .content h2 {
  
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 0px;
  }
  .content h2:nth-child(1) {
    color: transparent;
    /* 배경 색 */
    -webkit-text-stroke: 1px #000000;
  }
}


/* FEEDITEM CSS*/

.v-application--wrap {
  min-height: 100vh;
}

.v-dialog::-webkit-scrollbar {
  display: none;
}
#card{
  border-radius: 0.25rem;
  opacity: 1;
}
#card_img:hover{  
    transform: matrix(1.1,0,0,1.1,0,0);
}
#card_img:hover #card_contents{
    transform: translate(0,-60px);
}
#card_img:hover #add{
    opacity: 1.0;
}

#card_img{
cursor:pointer;
background-size: cover;
transition: transform 300ms ease-out;
margin :0;
top:0;
left: 0;
}

#imgsection{
  overflow: hidden;
  position: relative;
}
#cardTitle{
  text-align: center;
  position: absolute;
  display: block;
  color:white;
  width: 100%;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -1px;
  font-weight: bold;
  bottom: 65px;
  left: 0;
  transition: transform 300ms ease-out;
}

.typeName{
  position: absolute;
  text-align: center;
  display: block;
  top: 30px;
  left: 40px;
}
#bucket{

}
#card_contents{
  position: absolute;
  text-align: center;
  display: block;
  bottom: -30px;
  transition: transform 300ms ease-out;
}
#add{
  position: absolute;
  text-align: center;
  display: block;
  height: 30px;
  border: 2px solid white;
  border-radius: 20px;
  font-weight: bold;
  color:white;
  bottom : 150px;
  opacity: 0;
  transition: opacity 300ms ease-out;
}
#writtenDate{
  text-align: right;
  position: absolute;
  width: 100%;
  color: white;
  font-size: 13px;
  font-weight: bold;
  top:25px;
  right: 30px;
}
#category #sport{
  text-align: center;
  position: absolute;
   font-size: 16px;
   width: 100%;
   font-weight: bold;
    transition: transform 300ms ease-out;
  bottom: 90px;
   left: 0;
   color:#4e1891;
}
#category #food{
   text-align: center;
  position: absolute;
   font-size: 16px;
   width: 100%;
   font-weight: bold;
     transition: transform 300ms ease-out;
  bottom: 90px;
   left: 0;
   color:#cc4f79;
}
#category #travel{
   text-align: center;
  position: absolute;
   font-size: 16px;
   width: 100%;
   font-weight: bold;
     transition: transform 300ms ease-out;
  bottom: 90px;
   left: 0;
   color:#3f84c1;
}
#category #NewSkill{
   text-align: center;
  position: absolute;
   font-size: 16px;
   width: 100%;
   font-weight: bold;
     transition: transform 300ms ease-out;
  bottom: 90px;
   left: 0;
   color:#e0a855;
}
#category #lifestyle{
   text-align: center;
  position: absolute;
   font-size: 16px;
   width: 100%;
   font-weight: bold;
     transition: transform 300ms ease-out;
  bottom: 90px;
   left: 0;
   color:#239f29;
}
#category #etc{
  text-align: center;
  position: absolute;
   font-size: 16px;
   width: 100%;
   font-weight: bold;
     transition: transform 300ms ease-out;
  bottom: 90px;
   left: 0;
   color:#479aa5;
}