* {
  box-sizing: border-box;
}
/* 네비게이션 바 */
.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
  height: 4.5rem;
  top: 15px;
  width: 99%;
  background-color: #D2F0F3;
}
.nav-left {
  border: 2px solid red;
  width: 3.4rem;
  height: 3.4rem;
  margin: auto 0; 
}
.nav-left .logo {
  border: dashed 2px peru;
  height: 100%;
  width: 100%;
  background-color: white;
}
/* 검색 바 */
.nav-center {
  border: 2px solid rgb(161, 161, 161);
  width: 20rem;
  padding: 0;
  border-radius: 26px;
  background-color: white;
}
.search-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  
}
.nav-center .search-container input {
  display: inline-block;
  height: 100%;
  width: 100%;
  border: none;
  border-right:0px; 
  border-top:0px; 
  border-left:0px; 
  border-bottom:0px;
}

.nav-center .search-button {
  position: absolute;
  display: inline-block;
  background-color: #4CAF50;
  border: 1.5px solid green;
  height: 25px;
  width: 25px;
  top: 14px;
  right: 15px;

}

.nav-right {
  border: 2px solid green;
  display: flex;
  justify-content: space-around;
  width: 48%;
}
.nav-right p {
  margin-left: 5px;
  margin-right: 5px;
}
/* #################네브바 끝############### */
.wrapC {
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .user#login{
      width:30%;
      margin-top:100px;
      margin-left: auto;
      margin-right: auto;
  }

  .input-with-label {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 10px;
  }

.input-with-label input[type="text"],
.input-with-label input[type="password"] {
  width: 100%;
  float: left;
  height: 50px;
  line-height: 1;
  padding: 2px 15px 0 105px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
  border: 1px solid #000;
  border-radius: 3px;
}

.input-with-label input[type="text"]:hover, .input-with-label input[type="text"]:focus,
.input-with-label input[type="password"]:hover,
.input-with-label input[type="password"]:focus {
  border: 2px solid #000;
}

.input-with-label input[type="text"].error,
.input-with-label input[type="password"].error {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #EE4B55;
}

.input-with-label label {
    position: absolute;
    left: 25px;
    top: 15px;
    color: #000;
    font-weight: 600;
    font-size: 0.857em;
  }

  .label-with-input {
    width: 100%;
    float: left;
    margin-bottom: 15px;
  }
  
input {
    background: transparent;
    font-size: 1em;
    height: 50px;
    line-height: 1em;
    border: 1px solid #CCCCCC;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: .2s;
    transition: .2s;
    outline: none;
  }

  
input::placeholder {
    color: #333;
    opacity: .5;
    font-weight: 600;
  }

  
input:focus {
    outline: 0;
  }
  
input:hover {
    border: 2px solid #000;
  }


  button {
    font-size: 1em;
    font-weight: 400;
    cursor: pointer;
  }

  .btn--login {
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-color: #000;
    border-radius: 3px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    -webkit-box-shadow: none;
            box-shadow: none;
    height: 55px;
    line-height: 50px;
    margin-top:10px;
    margin-bottom: 10px;
  }

  .btn--login:hover{
      background-color: #ffffff;
      color: #000;
  }

  .btn--signup{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    -webkit-box-shadow: none;
            box-shadow: none;
    height: 55px;
    line-height: 50px;
    margin-top:10px;
    margin-bottom: 10px;
  }

  .btn--signup:hover{
    background-color: #000000;
    color: rgb(255, 255, 255);
}

/* 회원 정보 관련 */
    /* 회원가입 컨테이너 */
.joinForm {
  margin: 30px auto;
  width: 60%;
  border-radius: 10px;
  border: #9ee4eb solid 3px;
}
    /* 인풋 태그 관련 */
.input-label {
  width: 100%;
  height: 2.4rem;
  margin-bottom: 3px;
  border: #9ee4eb solid 1px;
}
.input-label:hover {
  border: #9ee4eb solid 3px;
}

.input-label .inputs {
  height: 2.3rem;
  font-size: smaller;
  margin-left: 3%;
  width: 60%;
  box-shadow: none;
  border: none;
}
.joinForm p {
  color: #e4675e;
}

    /* 버튼을 감싸는 컨테이너 */
.btn-container {
    display: flex;
    justify-content: space-around;
    height: 45px;
    margin-bottom: 4px;
}
    /* 버튼 아5웃라인 */
.join-button {
    border: 3px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 9px 28px;
    font-size: 16px;
    cursor: pointer;
}
        /* 확인 버튼 색:초록 지정 */
.confirm {
    border-color: #9ee4eb;
    color:  #9ee4eb;
}
            /* 확인 버튼 호버 효과 */
.confirm:hover {
    background-color:  #9ee4eb;
    color: white;
}
        /* 취소 버튼 색: 빨강 지정 */
.cancel {
    border-color: #ec9a94;
    color:#ec9a94;
}
            /* 취소 버튼 호버 효과 */
.cancel:hover {
    background-color: #ec9a94;
    color: white;
}
/* 바디 컴포넌트 */
.body-component {
  margin-top: 3rem;
}
